<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div>
    <input type="text" class="datepicker" placeholder="Selecciona la fecha" >
</div>

<div>
    <input type="text" class="timepicker" placeholder="Selecciona la hora">
</div>